<div class="block">
  <h3><%= vacancy.title %> <small>Expired: <%= vacancy.expired ? vacancy.expired.to_formatted_s(:long) : vacancy.expired %></small></h3>
  <b>Salary:</b><i><%= vacancy.salary %></i>
  <br/>
  <% if vacancy.skills %>
  <small>
    <% vacancy.skills.each do |s|%>
        <%= s.name %>
    <% end %>
  </small>
  <% end %>

  <div class="buttons">
    <%= link_to 'show', vacancy %>
    <%= link_to 'edit', edit_vacancy_path(vacancy) %>
  </div>
</div>